.team-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 110px;
}

.team-title > h1 {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    margin: 0;
    padding: 0;
}

.team-header > article > h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.team-header > article > p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    max-width: 400px;
    text-align: left;
    margin: 0;
    padding: 0;
}

/*** main content ***/
.team-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto;
    max-width: 1000px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1 / -1;
    max-height: 400px;
}

.team-member-img {
    max-height: 350px;
    width: 100%;
}

.card:nth-of-type(2), .card:nth-of-type(5) {
    margin-top: 100px;
}

.job-title {
    position: relative;
    transform: rotate(90deg);
    height: 20px;
    width: 175px;
    top: 60px;
    right: 60px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

.team-member-name {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

/*** footer ***/
.footer > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 426px) {
    .team-header {
        display: flex;
        justify-content: flex-start;
        padding-left: 50px;
    }
    .team-title>h1 {
        margin-bottom: 25px;
    }
    .team-section{
        justify-content: space-around;
    }
    .card {
        max-height: 250px;
        grid-template-columns: 1fr 25px;
    }
    .team-member-img {
        max-height: 230px;
        width: 100%;
    }
    .job-title {
        height: 15px;
        width: 175px;
        top: 75px;
        right: 80px;
        font-weight: 400;
        font-size: 12px;
    }
    .team-member-name {
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .card:nth-of-type(even) {
        margin-top: 100px;
    }
    .card:nth-of-type(5) {
        margin-top: 0px;
    }
}